:root {
  --main-font: "Museo Moderno", cursive;
  --white: #ffffff;
  --grey: #555555;
  --black: #0D0D0D;
  --redBtn: #9e3434;
}

* {
  box-sizing: border-box;
}
*:before {
  box-sizing: border-box;
}
*:after {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 982px;
  margin: 0 auto;
  padding: 0 15px;
}

.page-footer {
  margin-top: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

img, svg, iframe {
  vertical-align: top;
}

::-moz-placeholder {
  opacity: 1;
}

:-ms-input-placeholder {
  opacity: 1;
}

::placeholder {
  opacity: 1;
}

::-moz-selection {
  background-color: #000;
  color: #fff;
}

::selection {
  background-color: #000;
  color: #fff;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  padding: 0;
  margin: 0;
  background: 0;
  border: 0;
  color: inherit;
  text-align: left;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.link-reset {
  text-decoration: none;
  color: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.input-reset {
  padding: 0;
  border: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-shadow: none;
  border-radius: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.header {
  padding: 21px 0 93px 0;
  background-image: url(/img/header/bg.jpg);
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 91px;
}

.header-text {
  display: flex;
}

.header__text-official {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 7px;
  text-align: center;
}

.header__text-undertext {
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: var(--white);
  margin: 0;
}

.header__phone {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__phone-num {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: var(--white);
  text-decoration: none;
  margin-bottom: 4px;
}

.header__phone-btn {
  width: 153px;
  height: 32px;
  border: none;
  border-radius: 5px;
  background: var(--redBtn);
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--white);
  cursor: pointer;
}

.header__phone-btn:hover {
  transition: 0.5s;
  background: #b83c3c;
}

.header__section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

h1 {
  font-weight: bold;
  font-size: 42px;
  line-height: 42px;
  color: var(--white);
  text-transform: uppercase;
}

.header__subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: var(--white);
  text-transform: uppercase;
}

.header__elements {
  display: flex;
  justify-content: space-between;
  width: 424px;
}

.header__elements-item {
  text-align: center;
}

.header__elements-delivery {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: var(--white);
}

.header__button {
  text-align: right;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--white);
}
.header__button span {
  align-items: center;
  text-transform: lowercase;
}
.header__button a {
  color: var(--white);
  text-decoration: none;
}
.header__button a:hover {
  text-decoration: underline;
}

.header__button-btn {
  display: block;
  width: 303px;
  height: 54px;
  border: none;
  border-radius: 5px;
  background: var(--redBtn);
  color: var(--white);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  cursor: pointer;
  margin-bottom: 8px;
}

.footer {
  position: relative;
}

.footer-map iframe {
  width: 100%;
  height: 630px;
}

.footer-addres {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #c70101;
  width: 460px;
  height: 270px;
  text-align: center;
}

.addres {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  padding-top: 50px;
  color: #fff;
  margin-bottom: 36px;
}

.addres-phone {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
}

.socials-item {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 0 27px;
  margin-top: 36px;
}

.advantage {
  background: #F6F6F6;
  padding: 61px 0 82px 0;
}

.advantage__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  color: #0D0D0D;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.advantage__content {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.advantage__content-item {
  width: 240px;
}
.advantage__content-item h4 {
  font-weight: bold;
  font-size: 18px;
  line-height: 29px;
  color: #0D0D0D;
  margin: 0;
  margin: 35px 0 20px 0;
}
.advantage__content-item p {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #0D0D0D;
  text-align: center;
}
.advantage__content-item span {
  color: #FF0000;
}

.consult {
  padding: 100px 0 108px 0;
  background-image: url(/img/consult/bg2.jpg);
  background-size: cover;
}

.consult__title {
  width: 830px;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: var(--white);
  text-transform: uppercase;
  margin: 0;
}

.consult__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: var(--white);
  width: 426px;
  margin: 8px 0 36px 0;
}

input {
  width: 303px;
  height: 54px;
  border: none;
  border-radius: 10px;
  margin-bottom: 14px;
  color: #4B4B4B;
  font-size: 14px;
  line-height: 66px;
  padding-left: 20px;
}

input:last-child {
  margin-bottom: 18px;
}

.cosult__button-btn {
  width: 303px;
  height: 58px;
  border: none;
  border-radius: 10px;
  background: var(--redBtn);
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.cosult__button-btn:hover {
  background: #6b3535;
}

.slider {
  padding: 81px 0;
}

.wrapper-slider {
  position: relative;
  max-width: 950px;
  margin: 0 auto;
}

.swiper {
  max-width: 600px;
}

.catalog {
  padding-bottom: 79px;
}

.catalog-title {
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
}

.catalog-header-btn {
  display: flex;
  justify-content: center;
}

.change-btn {
  width: 222px;
  height: 52px;
  transform: skew(-20deg, 0deg);
  margin-right: 10px;
  background: #fff;
  border: 2px solid #D0D0D0;
  cursor: pointer;
  transition: 0.5s;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #6B6B6B;
  text-transform: uppercase;
}

.change-btn:hover {
  background: #C70101;
  color: #fff;
  border: none;
}

.catalog__block {
  margin-top: 57px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px 20px;
}

.catalog__block-item {
  width: 303px;
  padding-top: 20px;
  border: 2px solid #E8E8E8;
  text-align: center;
}

.catalog__block-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #0D0D0D;
}

.catalog__block-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #0D0D0D;
}

.catalog__btn-more {
  border: none;
  background: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #C70101;
  cursor: pointer;
}

.catalog__btn-more:hover {
  text-decoration: underline;
}

.catalog-hr {
  border: 1px solid #e8e8e8;
  margin: 17px 20px 19px 20px;
}

.catalog__block-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px;
}

.catalog__block-price strike {
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  color: #555555;
}

.catalog__btn-buy {
  width: 135px;
  height: 44px;
  background: #C70101;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.catalog__btn-buy:hover {
  background: #942929;
}

.title__feedback {
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  color: #0D0D0D;
  text-align: center;
}

.feedback-block {
  display: flex;
  flex-direction: column;
}

.feedback-block-item {
  display: flex;
  justify-content: space-between;
  gap: 0 61px;
  margin-bottom: 60px;
}

.feedback-block-item:last-child {
  margin-bottom: 48px;
}

.feedback__image img {
  max-width: 169px;
}

.feedback__image-person h4 {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  margin: 0;
}
.feedback__image-person span {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #646464;
}
.feedback__image-person p {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.56);
  top: 0;
}

.modal-close {
  position: absolute;
  top: 0;
  right: -40px;
  font-size: 41px;
  line-height: 11px;
  color: var(--redBtn);
  cursor: pointer;
}

.modal__consult {
  width: 382px;
  min-height: 402px;
  background: #f2f2f2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.modal__order {
  text-align: center;
  width: 382px;
  min-height: 403px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f2f2f2;
}

.modal-thanks {
  text-align: center;
  width: 382px;
  min-height: 143px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f2f2f2;
}

#consult, #order, #thanks {
  display: none;
}/*# sourceMappingURL=main.css.map */