.advantage {
    background: #F6F6F6;
    padding: 61px 0 82px 0;
}

.advantage__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    color: #0D0D0D;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.advantage__content {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.advantage__content-item {
    width: 240px;
    h4 {
        font-weight: bold;
        font-size: 18px;
        line-height: 29px;
        color: #0D0D0D;
        margin: 0;
        margin: 35px 0 20px 0;
    }
    p {
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: #0D0D0D;
        text-align: center;  
    } 
    span {
        color: #FF0000;
    }
}