

.title__feedback {
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    color: #0D0D0D;
    text-align: center;
}

.feedback-block {
    display: flex;
    flex-direction: column;
}

.feedback-block-item {
    display: flex;
    justify-content: space-between;
    gap: 0 61px;
    margin-bottom: 60px;
}

.feedback-block-item:last-child {
    margin-bottom: 48px;
}

.feedback__image {
    img {
        max-width: 169px;
    }
}

.feedback__image-person {
    h4 {
        font-weight: bold;
        font-size: 18px;
        line-height: 18px;
        margin: 0;
    }
    span {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #646464;
    }
    p {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
    }
}